/* 
SPK Associates extra styles - Fox Scarlett foxscarlett.com  foxontheone@gmail.com

Contents:

1. reset
typography
 header
 footer
 home page


highlight color: #02818C

 */

/* main reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif; 
  color: #fff;
  background-color: #060809;
}

body.page {
  margin-bottom: 0; 
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit; 
}


a:hover {
	color: #e50795;
	text-decoration: underline;
}

a:hover i {
	color: #e50795;
}


a:hover h3,
a:hover p {
	/*color: #3af;*/
	text-decoration: underline;
}





#main .entry-content a {
  color: #00A6B2; 
}

#primary {
  margin-bottom: 20px; 
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 300px;
}

i.fa {
	font-size: 27px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
/*	text-transform: uppercase;*/
	letter-spacing: 1.5px;
	font-weight: 700;
  /*font-family: 'Work Sans', Arial, sans-serif; */
/*  font-family: 'Space Grotesk', Arial, sans-serif; */
  color: #222;
}

h1 {
	font-size: 3.8rem;
	margin-bottom: 30px;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2rem;
}

p {
  font-size: 1.8rem;
	letter-spacing: 0.14px;
  line-height: 1.5;
}

.site {
  min-height: 100vh;
  position: relative;
}


/* ================ header =================   */
/* ================ footer =================   */

.site-footer {
  width: 100%;
  padding: 30px 10px;
  background-color: #111;
  color: #f7f7f7;
}

body .spk-footer-container {
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  min-height: 50px;
  max-width: 1250px;
}

.footer-cols-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}



.spk-footer-col {
  /*width: 50%;*/
  padding: 50px 0 100px;
  text-align: left;
}



.spk-footer-col-1 {
  width: 60%;
}

.spk-footer-col-2 {
  width: 40%;
}

.spk-footer-col p {
  margin: 0;
  font-size: 1.8rem;
}

ul#footer-menu {
  margin: 0;
}

#footer-menu li.menu-item {
  list-style-type: none;
  padding-bottom: 10px;
}

#footer-menu li.menu-item a {
  font-size: 1.8rem;
  text-transform: uppercase;
}

body .site-footer a:hover {
  color: #3af;
  text-decoration: underline;
}

body .site-footer a:hover i {
  color: #3af;
}

p.spk-footer-spaced {
  margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
  .spk-footer-col {
    padding: 50px 0 100px;
  }
  .spk-footer-col-1 {
    width: 40%;
  }

  .spk-footer-col-2 {
    width: 60%;
  }
}


@media screen and (max-width: 767px) {
  .footer-cols-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .spk-footer-col-1 {
    width: 100%;
  }

  .spk-footer-col-2 {
    width: 100%;
  }
}



/* ================ main =================   */

body .sandbox-container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  padding: 0 25px;
}

